@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.loading_page {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: white;
  animation: spinner_out 4.5s linear forwards;
}

.loading_text {
  padding-top: 30px;
}

#full_serveur {
  padding-top: 5%;
  height: 63%;
  width: 63%;
  animation: gradualOnset 3s ease-out backwards;
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 4804.515625px;
    stroke-dasharray: 4804.515625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 4804.515625px;
  }
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: black;
  }
}
.serveur_1 {
  animation: animate-svg-stroke-1 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s both, animate-svg-fill-1 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.8s both;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 748.8276977539px;
    stroke-dasharray: 748.8276977539px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 748.8276977539px;
  }
}
@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: black;
  }
}
.serveur_2 {
  animation: animate-svg-stroke-2 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s both, animate-svg-fill-2 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.8s both;
}

@keyframes spinner_out {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 7108.5908203125px;
    stroke-dasharray: 7108.5908203125px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7108.5908203125px;
  }
}
@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #ff79da;
  }
}
.fumee_2 {
  animation: animate-svg-stroke-3 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.25s both, animate-svg-fill-3 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1s both;
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 5293.9165039063px;
    stroke-dasharray: 5293.9165039063px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 5293.9165039063px;
  }
}
@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #9356dc;
  }
}
.fumee_1 {
  animation: animate-svg-stroke-4 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.75s both, animate-svg-fill-4 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.1s both;
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 152.0371551514px;
    stroke-dasharray: 152.0371551514px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 152.0371551514px;
  }
}
@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #99e2d0;
  }
}
.fumee_3 {
  animation: animate-svg-stroke-5 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.25s both, animate-svg-fill-5 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 1.2s both;
}

@keyframes gradualOnset {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotation360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flip-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#fullpage {
  width: 100%;
  margin: auto;
}

main {
  width: 100%;
  margin: auto;
  z-index: 0;
}

a {
  text-decoration: none;
}

/* google font import */
/* general font styles */
#fullpage {
  font-family: "Roboto", sans-serif;
}

/* general font styles - header */
h1 {
  font-family: "Shrikhand", cursive;
  color: black;
}

.fa-arrow-left {
  color: black;
}

/* general font styles - footer */
.footer_heading:first-child {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}

.fa-utensils {
  color: white;
}

.fa-hands-helping {
  color: white;
}

.footer_heading ul li p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* index font styles - loading_page */
.loading_text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* index font styles - accueil */
.localisation {
  font-size: 15px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  color: black;
}

h3 {
  font-size: 17px;
  font-weight: 300;
  color: black;
}

.explore_button {
  font-size: 15px;
  font-weight: 500;
}

/* index font styles - fonctionnement/restaurants */
h4 {
  font-size: 20px;
  color: black;
}

/* index font styles - fonctionnement */
h5 {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

/* index font styles - restaurants */
.new {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

/* menu font styles */
#menu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  color: black;
}

#menu h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.price {
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.dish_title {
  font-size: 15px;
  font-weight: 300;
  color: black;
}

.dish_1 {
  font-size: 17px;
  font-weight: 700;
  color: black;
}

.dish_2 {
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.dish_selection {
  font-size: 18px;
}

.card_r figcaption p:first-child {
  font-size: 17px;
  font-weight: 700;
  color: black;
}

.card_r figcaption p:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.btn_commander {
  font-size: 14px;
  font-weight: 300;
}

.explore_button {
  border-radius: 25px;
  padding: 15px 25px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 1px 3px 3px 2px #d2d2d2;
}
.explore_button:hover {
  opacity: 0.8;
  box-shadow: 2px 3px 4px 3px #aaaaaa;
}

.card_f {
  display: flex;
  align-items: center;
  width: 85%;
  height: 70px;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 5px 4px 4px 2px #e6e6e6;
  cursor: pointer;
}
.card_f:hover {
  opacity: 0.8;
  background-color: #f5e8fc;
  box-shadow: 6px 6px 6px 3px #e1e1e1;
  transition-duration: 150ms;
}

#fonctionnement i {
  color: grey;
}

.card_f_number {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -10px;
  margin-right: 20px;
  min-width: 25px;
  color: white;
}

.card_r {
  height: 230px;
  width: 85.5%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.card_r:hover {
  transform: scale(1.03);
  transition: 200ms;
}

.card_r_img {
  border-radius: 15px 15px 0 0;
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.new {
  min-width: 65px;
  padding: 5px;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #216A58;
  width: 12%;
  display: flex;
  justify-content: center;
  animation: flip-scale 0.5s ease-in infinite alternate;
}

#restaurants .empty {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 26px;
  height: 23px;
}

#restaurants .full {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 26px;
  height: 23px;
  opacity: 0;
}
#restaurants .full:hover {
  opacity: 1;
  transition-duration: 0.8s;
}

#menu .full {
  padding-right: 25px;
  padding-bottom: 5px;
  width: 26px;
  height: 23px;
  opacity: 0;
  grid-column: 2;
  grid-row: 1;
}
#menu .full:hover {
  opacity: 1;
  transition-duration: 0.8s;
}

#menu .empty {
  padding-right: 25px;
  padding-bottom: 5px;
  width: 26px;
  height: 23px;
  grid-column: 2;
  grid-row: 1;
}

.card_r figcaption p:first-child {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.card_r figcaption p:nth-child(3) {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.btn_commander {
  border-radius: 25px;
  padding: 15px 40px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 3px 3px 2px #d2d2d2;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  box-shadow: 2px 3px 4px 3px #aaaaaa;
}

header {
  margin-top: -60px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
  background-color: white;
  box-shadow: 0 5px 7px 0px #b4b4b4;
}

#logo {
  text-align: center;
}

#logo:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.backtoindex:hover {
  transform: scale(1.2);
  transition: 200ms;
}

nav {
  position: absolute;
  left: 5%;
}

footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
  background-color: #353535;
  color: #fff;
  position: absolute;
  z-index: 2;
}

.footer_heading {
  margin-left: 8%;
  margin-top: 15px;
}

.fa-utensils {
  padding-right: 17px;
}

.fa-hands-helping {
  padding-right: 10px;
}

.footer_heading:first-child {
  margin-top: 0;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

footer ul li {
  padding-top: 10px;
}

footer ul li p {
  margin: 0;
  display: inline;
}

h2 {
  width: 86%;
  margin: auto;
}

h3 {
  margin-bottom: 30px;
  width: 90%;
  margin: 30px auto;
}

#accueil {
  margin-top: 60px;
}

.localisation {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

.presentation {
  padding-top: 20px;
  height: 250px;
  background-color: #f2f2f2;
  text-align: center;
}

h4 {
  margin: 0;
}

h5 {
  text-align: center;
  width: 100%;
  padding-right: 55px;
}

#fonctionnement {
  margin-bottom: 60px;
}

.fonctionnement_title {
  padding-left: 7%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.hand_card_f {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#restaurants {
  background-color: #f2f2f2;
}

.restaurants_title {
  padding-left: 7%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.hand_card_r {
  margin: 0 auto auto auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.card_r {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.card_r:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.menu_image {
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: 0;
}

#menu {
  margin-top: 60px;
}

.menu_heading {
  width: 92%;
  height: 85px;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

#menu h2 {
  margin: auto;
  width: 100%;
}

.menu_card {
  margin: auto auto 160px auto;
  border-radius: 30px 30px 0 0;
  max-width: 768px;
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.dish_hand {
  margin-bottom: 35px;
  width: 92%;
  opacity: 0;
  animation: gradualOnset 1s 0.2s forwards ease;
}

.dish_card {
  margin: 15px auto auto auto;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  display: flex;
}
.dish_card:hover {
  background-color: white;
}

.dish_card_1, .dish_card_2, .dish_card_3 {
  margin: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  opacity: 0;
  overflow: hidden;
}
.dish_card_1:hover, .dish_card_2:hover, .dish_card_3:hover {
  border-radius: 15px 0 0 15px;
}

.dish_card:hover .dish_selection {
  width: 20%;
}

.dish_selection {
  transition-duration: 0.4s;
  transition-property: width;
}

.dish {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dish_card:hover i {
  animation: rotation360 0.5s forwards;
}

.dish_selection {
  border-radius: 0px 15px 15px 0px;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #99e2d0;
}

.dish_card i {
  overflow: hidden;
}

.dish_card_1 {
  animation: gradualOnset 1s 0.3s forwards;
  overflow: hidden;
}

.dish_card_2 {
  animation: gradualOnset 1s 0.5s forwards ease;
  overflow: hidden;
}

.dish_card_3 {
  animation: gradualOnset 1s 0.7s forwards ease;
  overflow: hidden;
}

.dish_title {
  margin: 0px;
  width: 40px;
}

.dish_title p {
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
}

.dish_1 p {
  margin: 0;
  padding: 12px 0px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish_2 p {
  margin: 0;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  padding: 33px 10px 0 10px;
  width: 30px;
}

.btn_commander {
  margin-top: 10px;
  margin-bottom: 70px;
  width: 50%;
  min-width: 175px;
}

/*# sourceMappingURL=style.css.map */
