


@keyframes gradualOnset
 {
    from {
            transform: translateY(20px);
            opacity: 0;
        }

    to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
@keyframes selectionOfaDishcard
{
    from {width: 0;
    }

to {
width:20%;

}
}

@keyframes rotation360
{
    from {
    }

to {
    transform: rotate(360deg);
}
}


@keyframes flip-scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

@keyframes spinner_out {
  0% {
    opacity: 1;
}
75% {
    opacity: 1;
}
99% {
    z-index: 1;
}
100% {
    opacity: 0;
    z-index: -1;
    }
}