// bouton explorez nos restaurants
.explore_button 
    {
        border-radius: 25px;
        padding: 15px 25px;
        border: none;
        color: white;
        background: linear-gradient($secondarycolor,$primarycolor);
        cursor: pointer;
        box-shadow: 1px 3px 3px 2px rgb(210, 210, 210);
    &:hover
        {
            opacity: 0.8;
            box-shadow: 2px 3px 4px 3px rgb(170, 170, 170);
        }
    }

// bouton commander
.btn_commander
{
    border-radius: 25px;
    padding: 15px 40px;
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 1px 3px 3px 2px rgb(210, 210, 210);
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
    box-shadow: 2px 3px 4px 3px rgb(170, 170, 170);
}