.explore_button {
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
    color: white;
    background: linear-gradient($secondarycolor,$primarycolor);
    cursor: pointer;
    box-shadow: 1px 3px 3px 2px rgb(210, 210, 210);
    &:hover {
        opacity: 0.8;
        box-shadow: 2px 3px 4px 3px rgb(170, 170, 170);
    }
    }
        
    .card_f
    {
       
            display: flex;
            align-items: center;
            width: 85%;
            height: 70px;
            border-radius: 25px;
            background-color: #f2f2f2;
            box-shadow: 5px 4px 4px 2px rgb(230, 230, 230);
            cursor: pointer;

            &:hover {
                opacity: 0.8;
                background-color: #f5e8fc;
                box-shadow: 6px 6px 6px 3px rgb(225, 225, 225);
                transition-duration: 150ms;
            }
    }

    #fonctionnement i
    {
        color: grey;

    }
    
.card_f_number {
height: 25px;
width: 25px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: $primarycolor;
margin-left: -10px;
margin-right: 20px;
min-width: 25px;
color: white;
}

.card_r
{
    height: 230px;
    width: 85.5%;
    display: flex;
    flex-direction:column;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);
    position: relative;
}
.card_r:hover
{
    transform: scale(1.03);
    transition: 200ms;
}
.card_r_img
{
    border-radius: 15px 15px 0 0;
    height: 70%;
    width: 100%; 
    object-fit: cover;
}
.new
{
    min-width: 65px;
    padding: 5px;
    background-color: #99E2D0;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #216A58;
    width: 12%;
    display: flex;
    justify-content: center;
    animation: flip-scale 0.5s ease-in infinite alternate}
#restaurants .empty
{
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 26px;
    height: 23px;
}
#restaurants .full
{
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 26px;
    height: 23px;
    opacity: 0;
    &:hover
    {
        opacity:1;
        transition-duration: 0.8s;
    }
}

#menu .full
{
    padding-right: 25px;
    padding-bottom: 5px;
    width: 26px;
    height: 23px;
    opacity: 0;
    grid-column:2;
    grid-row: 1;
    &:hover
    {
        opacity:1;
        transition-duration: 0.8s;
    }
}
#menu .empty
{
    padding-right: 25px;
    padding-bottom: 5px;
    width: 26px;
    height: 23px;
    grid-column:2;
    grid-row: 1;
}

.card_r figcaption p:first-child
{
    position: absolute;
    left: 10px;
    bottom: 20px;
}
.card_r figcaption p:nth-child(3)
{
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.btn_commander
{
    border-radius: 25px;
    padding: 15px 40px;
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 1px 3px 3px 2px rgb(210, 210, 210);
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
    box-shadow: 2px 3px 4px 3px rgb(170, 170, 170);
}