// background
.menu_image
    {
        width: 100%;
        object-fit: cover;
        position: fixed;
        z-index: 0;
    }

// titre menu
.menu_heading
    {
        width: 92%;
        height: 85px;
        display: grid;
        justify-content: space-between;
        align-items: center;
    }
#menu h2
	{		
        margin: auto;                
        width: 100%;
	}
//titre menu - bouton coeur
#menu .full
    {
        padding-right: 25px;
        padding-bottom: 5px;
        width: 26px;
        height: 23px;
        opacity: 0;
        grid-column:2;
        grid-row: 1;
        cursor: pointer;
    &:hover
        {
            opacity:1;
            transition-duration: 0.8s;
        }
    }
#menu .empty
    {
        padding-right: 25px;
        padding-bottom: 5px;
        width: 26px;
        height: 23px;
        grid-column:2;
        grid-row: 1;
        cursor: pointer;
    }
// carte menu
.menu_card
    {
        margin: auto auto 160px auto;
        border-radius: 30px 30px 0 0;
        max-width: 768px;
        position: relative;
        top:170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4;
    }
    
// plats
.dish_hand
    {
        margin-bottom: 35px;
        width: 92%;
        opacity: 0;
        animation: gradualOnset 2s 0.2s forwards;
    }
.dish_title
    {   
        width: 40px;  
    }
.dish_title p
    {
        padding-bottom: 3px;
        border-bottom: 3px solid $tertiarycolor;
    }
    
// carte plat
.dish_card
    {
        margin: 15px auto auto auto;
        border-radius: 15px;
        width: 100%;
        height: 60px;
        display: flex;
        background-color: white;
        cursor: pointer;  
    }
.dish_card_1
    {
        animation: gradualOnset 1s 0.3s forwards;
        overflow: hidden;
    }
.dish_card_2
    {
        animation: gradualOnset 1s 0.5s forwards;
        overflow: hidden;
    }
.dish_card_3
    {
        animation: gradualOnset 1s 0.7s forwards;
        overflow: hidden;
    }
.dish_card_4
    {
        animation: gradualOnset 1s 0.9s forwards;
        overflow: hidden;
    } 
.dish_card_1,.dish_card_2,.dish_card_3,.dish_card_4
    {
        margin: 0;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: white;
        opacity: 0;
        overflow: hidden;
    &:hover
        {
            border-radius: 15px 0 0 15px;
        }
    }
.dish
    {
        width:100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
.dish_1 p
    {
        margin: 0;  
        padding: 12px 0px 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.dish_2 p
    {
        margin: 0;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.price
    {
        padding: 33px 10px 0 10px;
        width:30px;
    }

// carte plat - coche
.dish_card:hover .dish_selection
    {
        width: 20%;
    }
.dish_selection
    {
        border-radius: 0px 15px 15px 0px;
        width:0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $tertiarycolor;
        transition-duration: 0.4s;
        transition-property: width;
    }
.dish_card i
    {
        overflow: hidden;
    }
.dish_card:hover i
    {
        animation: rotation360 0.5s forwards;
    }

// bouton commander
.btn_commander
    {
        margin-top: 10px;
        margin-bottom: 70px;
        width: 50%;
        min-width: 175px;
    }