footer
	{
		display:flex;
		justify-content: flex-start;
		width: 100%;
		height: 240px;
		background-color: #353535;
		color: #fff;
		position: absolute;
		z-index: 2;
	}
.footer_heading
	{
    	margin-left: 8%;
		margin-top: 15px;
	}
.fa-utensils
	{
		padding-right: 17px;
	}
.fa-hands-helping
	{
		padding-right: 10px;
	}
.footer_heading:first-child
	{
		margin-top: 0;
	}
footer ul
	{
		list-style-type: none;
		padding:0px;
	} 
footer ul li
	{
		padding-top:10px;
	}
footer ul li p
	{
		margin: 0;
		display: inline;
	}